body {
    font-family: sans-serif;
    font-size: 14px;
}

#digit-pane {
    direction: rtl;
    padding: 0px 20px;
    position: relative;
    top: 74.4%;
    right: 42.5%;
}

[is=key-button] {
    position: absolute;
    background-color: #cd3d45;
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    width: 20px;
    border-radius: 10px;
    left: 438px;
    top: 301px;
}

[is=key-button] > div {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
